*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#add-task-container{
    width: 490px;
    padding: 12px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 3px #fff;
    display: flex;
    align-items: center;
}

input{
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.3);
    font-size: 2rem;
    padding-left: 10px;
    border: none;
    height: 53px;
}


#add-btn{
    width: 55px;
    height: 57px;
    cursor: pointer;
}

